.botao1{
  --background: rgb(0, 0, 0);
}
.botao2{

  --background: rgb(0, 0, 0);
}
.botao3{
  --background: rgb(152, 64, 252);
}
.botao3:hover{
  --background: black;
}
.botao{
  justify-content: space-around;
  display: flex;
}
.botaoigual{
  --background: rgb(80, 4, 167);
}
.botaoigual:hover{
  --background: black;
}
.botao4{
  --background: rgb(184, 142, 231);
}
.botao4:hover{
  --background: black;
}
.a{
  --box-shadow: 0px;
  --background: rgb(0, 0, 0);
  border-radius: 0px;
}


